<!DOCTYPE html>
<html>
<head>
	<title>PlayBall</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body id="homepage_body">
  <div id="wrapper">
  	<div id="content">
		<div id="row">
    		<div style="padding-left:35%; width:65%; padding-top:15%" class="col-md-6 col-md-offset-3">
        		<h2>Find Nearby Courts</h2>
        		<form ng-submit="submit()">
            		<div class="form-group">
                		<input type="text" class="form-control" placeholder="Enter Your Location" />
            		</div>
            		<input type="submit" class="btn btn-primary" value="Find Sports Facilities"/>
        		</form>
    		</div>
		</div>
  	</div>
  </div>
</body>
</html>